name = "BunchKaufmanUtils"
uuid = "66b60d5c-a246-11e9-10d7-69be3e8cb5c9"
authors = ["Tim Holy <tim.holy@gmail.com>"]
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
